body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, #root {
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px !important;
  }
  .MuiContainer-root > .MuiPaper-root {
    margin: 15px 5px !important;
    padding: 15px !important;
  }
}